# Environments
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pycache/
*.whl
*.tar.gz
build/
dist/
.pycache/
*.whl
*.tar.gz

# Editors
.idea/
.vscode/

# OS
.DS_Store

testfile